{
  "type": "##field_type##",
  "balanced": false,
  "dataType": "##data_type##",
  "highCardinality": false,
  "ignored": false,
  "includeOther": true,
  "label": "##field_label##",
  "name": "##field_name##",
  "ordering": "Occurrence",
  "sensitive": false,
  "source": null,
  "values": []
}
